{% extends 'base.html' %}

{% block title %}Projects - My Portfolio{% endblock %}

{% block content %}
    <h1>Projects</h1>
    <p>Here are some of the projects I've worked on.</p>
    <h3>The To-Do Django project will consist of a simple web application where users can:</h3>
    <p>
     <li> Add new tasks.</li>
     <li> Mark tasks as completed.</li>
     <li>Delete tasks.</li>
     <li>View a list of all tasks.</li>
    </p>
    <h3>This portfolio website, built with Flask, showcases my skills, projects, and achievements in a dynamic and interactive manner. The site serves as a personal introduction to my work and provides a platform to share details about various projects, technologies, and experiences.</h3>

    <li><b>Homepage:</b> A visually appealing landing page that introduces visitors to who I am and highlights key aspects of my professional background. It includes a brief biography, a summary of skills, and a call-to-action to explore further.</li>

    <li><b>About Me Page:</b> An in-depth look at my background, including education, work experience, and personal interests. This page helps visitors understand my journey and the motivations behind my work.</li>

    <li><b>Contact Page:</b> A form that allows visitors to get in touch with me directly. It includes fields for name, email, subject, and message, with form validation to ensure that all required fields are completed.</li>

    <li><b>Projects Page:</b> A dedicated section to display a curated list of projects I've worked on. Each project entry includes a description, technology stack, and links to project repositories or live demos. This section highlights my ability to work on diverse technologies and contribute to various domains.</li>

    <li><b>Responsive Design:</b> The website is designed to be fully responsive, ensuring a seamless user experience across different devices, including desktops, tablets, and smartphones.

    </li>
{% endblock %}
