{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block content %}
    
<h1 class="text-center">Summary</h1>
    <h1>Professional Experience</h1>
    <p> Python Developer
        E-Procurement Technologies Limited,Ahmedabad
        Jan 2024 – Present</p>
    <ul>
        <li>Designed and implemented web scraping solutions using BeautifulSoup and Selenium to extract data from Goverment Site and private websites platforms.</li>
        <li>Developed and maintained automated data pipelines to process and store data in SQL databases, improving data availability and accuracy.</li>
        <li>Optimized web scraping scripts for performance and reliability, reducing data extraction time by 30%.</li>
    </ul>

    <h4>IT trainee,IANT(Institute of Advance Network Technology),Ahmedabad 6 Months</h4>
    <p>Enthusiastic and dedicated IT Trainee with a foundational understanding of information technology concepts, including network administration, software development, and technical support. Equipped with hands-on experience in troubleshooting, system maintenance, and basic programming through academic projects and internships.Eager to leverage strong problem-solving skills and a proactive attitude to contribute to a dynamic IT team. Committed to continuous learning and professional development to support organizational goals and drive technological advancements.</p>
{% endblock %}
